*{
    font-family:'Courier New', Courier, monospace;}
header {
    background-color: rgb(12, 133, 189);
    padding: 1px;
    flex: 1 1 auto;
}
body {
    background-color: rgba(200, 216, 231, 0.993);
}
header h1 {
    font-size: 40px;
    color: rgb(184, 179, 179);
    position: relative;
    left: 50px;
    top: 25px;
}
.nie {
    color: rgb(65, 65, 204);
}
header a {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 50px;
    padding: 20px;
    float: right;
}
section {
    text-align: center;
    border: solid;
    border-width: 1px;
    width: 85%;
    margin: auto;
    position: relative;
    transform: skew(-20deg);
    box-shadow: 15px 15px 10px;
    border-color: aqua;
    padding: 20px;
    flex: 1 1 auto;
}
img {
    width: 150px;
    float: right;
    position: relative;
    bottom: 50px;
    right: 170px;
}
p {
    text-align: left;
}
footer {
    text-align: center;
    background-color: rgb(12, 133, 189);
    padding: 30px;
    margin-top: 25px;
}
footer p {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.a-b {
    padding: 1px;
}
#p {
   position: relative;
   left: 250px;
   top: 15px;
}