* {
    background-image: url(CodeGif.gif);
}
header h1 {
    position: relative;
    font-family:'Courier New', Courier, monospace;
    left: 200px;
    top: 250px;
    font-size: 50px;
    color: rgb(12, 133, 189);
    border-radius: 10px;
}
ul {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(12, 133, 189);
    position: relative;
    left: 270px;
    top: 210px;
    border-radius: 8px;
}

a:hover {
    color: blue;
}
img {
    width: 400px;
    position: relative;
    left: 800px;
    bottom: 60px;
    border-style: hidden;
    border-radius: 150px;
}