@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}

body {
    background-color: rgb(184, 214, 214);
    padding-bottom: 110px;
    /* text-align: center; */

}

.side-bar {
    float: left;
    padding: 15px;
    margin-top: 115px;
}

.side-bar img {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 35px;
    height: 35px;
}

/* .main-img img {
    text-align: center;
    
} */

.main-img img {
    width: 200px;
    height: 290px;
    border-radius: 100px;
    margin-top: 70px;
    margin-bottom: 15px;
    border: solid;
    border-width: 1px;
    border-color: goldenrod;
    box-shadow: 15px 15px 35px rgb(151, 151, 143);
}

/* Contact button */
.contact-button {
    margin-left: 28%;
    background-color: rgb(77, 159, 159);
    padding: 13px;
    width: 45%;
    margin-top: 45px;
    margin-bottom: 45px;
}

.item {
    color: blue;
    text-decoration: none;
}

/* Nav bar */
.fixed-navbar {
    overflow: hidden;
    background-color: rgb(19, 97, 130);
    position: fixed;
    bottom: 0;
    width: 100%;
    /* margin: -8px; */
    border: solid;
    border-width: 1px;
}

/* .fixed-navbar:hover {}
.fixed-navbar a:hover {} */
.fixed-navbar h3 {
    position: relative;
    top: 20px;
    left: 7px;
    color: rgb(141, 178, 178);
}

.menu-card {
    list-style-type: none;
    /* display: inline-flex; */
    columns: 3;
    /* gap: 7px; */
    /* position: relative; */
    /* float: right; */
    /* left: -30px; */
    /* bottom: 35px; */
}

.menu-card a {
    text-decoration: none;
    color: blue;
}

.menu-card a:hover {
    color: aqua;
}

/* .menu-bar {
    background-color: rgb(183, 200, 211);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    float: right;
    right: 15px;
    bottom: 25px;
} */

/*  */
.row h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: -35px;
}

.row h3 {
    text-align: center;
    font-size: 21.5px;
    margin-bottom: 10px;
}

p {
    margin: 0px;
    padding: 0px;
}

h2 {
    text-align: center;
}

.am-img {
    text-align: center;
}
.am-img img {
    box-shadow: 5px 5px 7px rgb(151, 151, 143);

}

.gif {
    height: 150px;
    width: 200px;
}

.footer {
    background-color: rgb(86, 138, 160);
    width: 100%;
    padding-bottom: 1px;
    margin-left: 7.5px;
}

.p-img {
    text-align: center;
}

.portfolio ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    border: solid;
    border-width: 1px;
    border-color: rgb(86, 138, 160);
    /* box-shadow: 15px 15px 35px rgb(151, 151, 143); */
    height: 260px;
}
.portfolio li a {
    text-decoration: none;
    color: blue;
}

.portfolio p {
    margin-top: -22px;
    margin-bottom: 50px;
}
.portfolio img {
    box-shadow: 15px 15px 35px rgb(151, 151, 143);
}

.contact ol {
    list-style-type: none;
}
.f-sect h1 a {
    text-decoration: none;
    color: blue;
}
.footer h1 {
    color: blue;
    padding-left: 20px;
    padding-top: 30px;
}

.footer a {
    color: black;
}

.footer p {
    padding-left: 20px;
    margin-top: -30px;
}

.footer h4 {
    padding-left: 20px;
}

.all-right-reserved {
    text-align: center;
    color: rgb(8, 8, 89);
}
.footer {
    border: solid;
    border-width: 1px;
}


@media screen and (min-width: 575px) {
    .main-img {
        float: right;
    }

    .row {
        padding-top: 100px;
    }

    .m-body {
        columns: 2;
        border-top: solid;
    }
}

@media screen and (min-width: 645px) {
    .row {
        text-align: center;
    }

    .contact-button {
        display: block;
        height: 50px;
        width: 150px;
        text-align: center;
    }
}

@media screen and (min-width: 730px) {
    .fixed-navbar {
        position: relative;
    }

    body {
        padding-bottom: 0;
    }

    .f-sect2 {
        display: none;
    }

    .main-img img {
        width: 500px;
        height: 650px;
    }

    .m-body {
        columns: initial;
    }

    .menu-card {
        font-size: 30px;
        left: -50px;
        gap: 25px;
    }

    .menu-bar {
        width: 95px;
        height: 90px;
        border-radius: 90px;
        right: 15px;
        bottom: 25px;
    }

    .side-bar img {
        width: 65px;
        height: 65px;
    }
    .row h1 {
        font-size: 80px;
    }
    
    .row h3 {
        font-size: 50px;
    }
    
    p {
        font-size: 30px;
        /* text-align: center; */
    }
    h2 {
        font-size: 45px;
    }
    .portfolio h3 {
        font-size: 35px;
    }
    .fixed-navbar h3 {
        font-size: 30px;
    }
    .all-right-reserved {
        font-size: 30px;
    }
}








/* Columns */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}